{{outlet}}

<div class="ui segment">
  <div class="ui form">
    <div class="field">
      <Input @value={{model.identity}} type="text" placeholder="Nom du développeur"/>
    </div>
    <button class="ui primary button" {{action "nouveau" model.identity}}>Ajouter</button>
    <button class="ui red button" {{action "retour"}}>Retour</button>
  </div>
</div>
