{{outlet}}

<div class="ui segment">
  <div class="ui form">
    <div class="field">
      <h3>Supprimer {{model.name}} ? </h3>
    </div>
    <button class="ui small teal button" {{action "supprimer" model}}>Oui</button>
    <button class="ui small red button" {{action "retour" model}}>Retour</button>
  </div>
</div>